# Ignore all .pyc files
__pycache__/
*.pyc

# Ignore all .npz files
*.npz

# Ignore all output files
BDD/Outcome
BDD/reference
BDD_cancer/npz


# Origrnal data
# AllSamples.MIGHT.Passed.samples.txt
# WiseCondorX.Wise-1.csv
BDD_cancer/data

# Ignore log files
logs/
*.log